@model ProductModel
@{
    ViewData["Title"] = "Create";

}

<h1 class="text-center">ÜRÜN EKLEME </h1>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"> Ürün ismi :</label>
                <input asp-for="Name" class="form-control" />
                <label asp-for="Quantity"> Stok :</label>
                <input asp-for="Quantity" class="form-control" />
                <label asp-for="Amount">Fiyat : </label>
                <input asp-for="Amount" class="form-control" />

                @foreach (var item in ViewBag.Category.Data)
                {
                    <div class="custom-control custom-radio custom-control-inline">
                        <input asp-for="CategoryId" type="radio" class="custom-control-input" id="@(item.Id)" value="@item.Id" checked="checked" />
                        
                        <label asp-for="CategoryId" class="custom-control-label" for="@(item.Id)">@item.Name</label>
                    </div>
                }

                <span asp-validation-for="Name" class="text-danger"> </span>

            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>
