@model Response
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"> KATEGORİLER </h1>
<a class="btn btn-primary mb-3" asp-action="Create">Kategori Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>AD</th>
          <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>            
                <td>@item.Name</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>

            </tr>

        }
    </tbody>
</table>